body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.Antigos_PG-Direita {
	border-style:solid;
	background-color:#ffffff;
}
div.Antigos_PG-Esquerda {
	border-style:solid;
	background-color:#ffffff;
}
table.Tabela-b-sica {
	border-collapse:collapse;
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	margin-bottom:-4px;
	margin-top:4px;
}
td.Tabela-b-sica {
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:#000000;
	border-top-width:1px;
	border-top-style:solid;
	border-top-color:#000000;
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#000000;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#000000;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	vertical-align:top;
}
p.Cap-tulo {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:6px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Normal {
	-epub-hyphens:none;
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:8px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.T-tulo-02 {
	color:#0080c9;
	font-family:Calibri, sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.182;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:17px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.T-tulo-03-margem {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Frutiger LT Std 45 Light", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.091;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:11px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.T-tulo-04 {
	-epub-hyphens:none;
	color:#ea504e;
	font-family:Arial, sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.182;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.T-tulo-04-margem {
	-epub-hyphens:none;
	color:#ea504e;
	font-family:Arial, sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.182;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:11px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
li.bullet-texto-inicial {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	list-style-position:outside;
	margin-bottom:0;
	margin-left:28px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.fonte {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:7px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.5;
	margin-bottom:6px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:right;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
li.questao-a-, p.questao-a- {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	list-style-position:outside;
	list-style-type:lower-alpha;
	margin-bottom:3px;
	margin-left:20px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.texto {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:20px;
	text-transform:none;
	widows:1;
}
li.texto-bullet {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	list-style-position:outside;
	margin-bottom:3px;
	margin-left:28px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.texto-sem-recuo {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.364;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
span.Hiperlink {
	color:#000000;
	text-decoration:none;
}
span.bold {
	color:#000000;
	font-style:normal;
	font-weight:bold;
}
span.bullet {
	color:#0080c9;
	font-family:Arial, sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight:normal;
}
span.expoente {
	font-size:11px;
	vertical-align:super;
}
span.numero-questao {
	color:#ea504e;
	font-family:Arial, sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight:normal;
}
td.CellOverride-1 {
	background-color:#ea504e;
	border-bottom-color:#ffffff;
	border-left-color:#ffffff;
	border-right-color:#ffffff;
	border-top-color:#ffffff;
	padding-bottom:3px;
	padding-left:3px;
	padding-right:3px;
	padding-top:3px;
	vertical-align:middle;
}
td.CellOverride-2 {
	background-color:#f6b0a2;
	border-bottom-color:#ffffff;
	border-left-color:#ffffff;
	border-right-color:#ffffff;
	border-top-color:#ffffff;
	padding-bottom:3px;
	padding-left:3px;
	padding-right:3px;
	padding-top:3px;
	vertical-align:middle;
}
p.ParaOverride-1 {
	text-indent:14px;
}
li.ParaOverride-2, p.ParaOverride-2 {
	text-indent:0px;
}
li.ParaOverride-3 {
	text-align:left;
	text-indent:0px;
}
p.ParaOverride-4 {
	text-align:center;
	text-indent:0px;
}
p.ParaOverride-5 {
	margin-bottom:6px;
	text-indent:0px;
}
p.ParaOverride-6 {
	margin-bottom:0px;
}
li.ParaOverride-7 {
	margin-top:6px;
	text-indent:0px;
}
p.ParaOverride-8 {
	margin-bottom:0px;
	margin-top:6px;
}
p.ParaOverride-9 {
	margin-bottom:0px;
	margin-left:20px;
	text-align:left;
	text-indent:0px;
}
p.ParaOverride-10 {
	margin-bottom:0px;
	margin-left:17px;
}
p.ParaOverride-11 {
	margin-bottom:0px;
	margin-top:11px;
}
p.ParaOverride-12 {
	list-style-position:inside;
	list-style-type:none;
	margin-left:2px;
	page-break-after:always;
	text-indent:0px;
}
p.ParaOverride-13 {
	list-style-position:inside;
	list-style-type:none;
	margin-bottom:0px;
	margin-left:2px;
	margin-top:11px;
	page-break-after:always;
	text-indent:0px;
}
li.ParaOverride-14 {
	margin-top:43px;
	text-indent:0px;
}
li.ParaOverride-15 {
	margin-top:156px;
	text-indent:0px;
}
p.ParaOverride-16 {
	margin-bottom:0px;
	margin-left:17px;
	margin-top:91px;
}
li.ParaOverride-17 {
	margin-top:198px;
	text-indent:0px;
}
p.ParaOverride-18 {
	margin-bottom:0px;
	margin-left:17px;
	margin-top:88px;
	page-break-after:always;
}
p.ParaOverride-19 {
	list-style-position:inside;
	list-style-type:none;
	text-indent:0px;
}
p.ParaOverride-20 {
	margin-bottom:9px;
}
p.ParaOverride-21 {
	margin-bottom:0px;
	margin-top:3px;
}
p.ParaOverride-22 {
	margin-top:9px;
}
p.ParaOverride-23 {
	margin-bottom:9px;
	margin-left:14px;
	margin-top:9px;
}
p.ParaOverride-24 {
	text-align:left;
}
li.ParaOverride-25 {
	margin-bottom:0px;
	text-indent:0px;
}
li.ParaOverride-26 {
	margin-bottom:0px;
	margin-top:227px;
	text-indent:0px;
}
li.ParaOverride-27 {
	margin-bottom:0px;
	margin-top:230px;
	text-indent:0px;
}
p.ParaOverride-28 {
	margin-bottom:0px;
	margin-top:136px;
}
p.ParaOverride-29 {
	list-style-type:none;
	margin-bottom:0px;
	margin-top:96px;
}
p.ParaOverride-30 {
	list-style-type:none;
	margin-bottom:0px;
	margin-top:23px;
}
li.ParaOverride-31 {
	margin-bottom:0px;
	margin-top:96px;
	text-indent:0px;
}
p.ParaOverride-32 {
	margin-bottom:9px;
	page-break-after:always;
}
p.ParaOverride-33 {
	margin-top:3px;
}
p.ParaOverride-34 {
	margin-bottom:3px;
}
p.ParaOverride-35 {
	margin-bottom:0px;
	margin-left:20px;
	margin-top:3px;
	text-align:left;
	text-indent:0px;
}
li.ParaOverride-36 {
	margin-top:14px;
	text-indent:0px;
}
p.ParaOverride-37 {
	margin-left:20px;
	text-align:left;
	text-indent:0px;
}
li.ParaOverride-38 {
	margin-bottom:0px;
	margin-top:14px;
	text-indent:0px;
}
li.ParaOverride-39 {
	margin-top:17px;
	text-indent:0px;
}
p.ParaOverride-40 {
	margin-left:20px;
}
p.ParaOverride-41 {
	margin-left:20px;
	text-align:left;
}
li.ParaOverride-42 {
	margin-top:9px;
	text-indent:0px;
}
p.ParaOverride-43 {
	margin-left:17px;
	margin-top:3px;
	text-align:left;
	text-indent:3px;
}
p.ParaOverride-44 {
	margin-bottom:3px;
	margin-left:20px;
	margin-top:85px;
	text-align:justify;
	text-align-last:left;
}
p.ParaOverride-45 {
	margin-bottom:6px;
	margin-top:82px;
}
p.ParaOverride-46 {
	margin-bottom:3px;
	margin-left:20px;
	margin-top:28px;
	text-align:justify;
	text-align-last:left;
}
p.ParaOverride-47 {
	margin-bottom:3px;
	margin-left:20px;
	margin-top:3px;
}
p.ParaOverride-48 {
	margin-bottom:3px;
	margin-left:20px;
	text-align:justify;
	text-align-last:left;
}
p.ParaOverride-49 {
	text-align:justify;
	text-align-last:left;
	text-indent:20px;
}
p.ParaOverride-50 {
	page-break-after:always;
	text-align:justify;
	text-align-last:left;
	text-indent:20px;
}
p.ParaOverride-51 {
	margin-bottom:6px;
	page-break-after:always;
}
p.ParaOverride-52 {
	margin-bottom:6px;
}
p.ParaOverride-53 {
	margin-left:20px;
	margin-top:3px;
}
p.ParaOverride-54 {
	margin-bottom:6px;
	margin-left:20px;
	text-indent:0px;
}
p.ParaOverride-55 {
	margin-left:23px;
	text-indent:0px;
}
p.ParaOverride-56 {
	margin-top:31px;
}
p.ParaOverride-57 {
	margin-bottom:0px;
	margin-left:20px;
	text-align:justify;
	text-align-last:left;
}
p.ParaOverride-58 {
	margin-left:20px;
	text-align:justify;
	text-align-last:left;
}
p.ParaOverride-59 {
	margin-top:14px;
}
p.ParaOverride-60 {
	margin-top:11px;
}
p.ParaOverride-61 {
	margin-top:23px;
}
p.ParaOverride-62 {
	margin-bottom:3px;
	margin-left:20px;
	margin-top:6px;
	text-align:justify;
	text-align-last:left;
}
p.ParaOverride-63 {
	margin-left:20px;
	text-indent:0px;
}
p.ParaOverride-64 {
	margin-top:17px;
}
p.ParaOverride-65 {
	margin-bottom:0px;
	margin-left:20px;
	margin-top:3px;
	text-align:justify;
	text-align-last:left;
}
p.ParaOverride-66 {
	margin-top:6px;
}
p.ParaOverride-67 {
	margin-bottom:11px;
	margin-top:11px;
	page-break-after:always;
}
p.ParaOverride-68 {
	margin-bottom:11px;
	margin-top:11px;
}
li.ParaOverride-69 {
	margin-top:88px;
	text-indent:0px;
}
li.ParaOverride-70 {
	margin-top:108px;
	text-indent:0px;
}
p.ParaOverride-71 {
	list-style-position:inside;
	list-style-type:none;
	margin-top:37px;
	text-indent:0px;
}
li.ParaOverride-72 {
	margin-top:170px;
	text-indent:0px;
}
p.ParaOverride-73 {
	margin-bottom:3px;
	margin-top:85px;
	page-break-after:always;
}
p.ParaOverride-74 {
	margin-bottom:0px;
	margin-top:85px;
}
p.ParaOverride-75 {
	list-style-position:inside;
	list-style-type:none;
	margin-left:2px;
	text-indent:0px;
}
p.ParaOverride-76 {
	margin-bottom:0px;
	margin-top:9px;
}
li.ParaOverride-77 {
	margin-top:20px;
	text-indent:0px;
}
p.ParaOverride-78 {
	margin-bottom:0px;
	margin-top:9px;
	page-break-after:always;
}
p.ParaOverride-79 {
	margin-bottom:0px;
	margin-left:20px;
}
p.ParaOverride-80 {
	margin-bottom:1px;
	margin-left:20px;
	margin-top:14px;
}
p.ParaOverride-81 {
	margin-bottom:1px;
	margin-left:20px;
}
p.ParaOverride-82 {
	list-style-position:inside;
	list-style-type:none;
	margin-bottom:0px;
	margin-left:2px;
	margin-top:9px;
	page-break-after:always;
	text-indent:0px;
}
li.ParaOverride-83 {
	margin-bottom:0px;
	margin-top:9px;
	text-indent:0px;
}
span.CharOverride-1 {
	font-family:Arial, sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-2 {
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-3 {
	font-size:6px;
}
span.CharOverride-4 {
	font-family:Symbol, sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-5 {
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-6 {
	color:#ffffff;
	font-size:7px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-7 {
	font-size:7px;
}
span.CharOverride-8 {
	font-family:Arial, sans-serif;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-9 {
	font-size:58%;
	vertical-align:super;
}
span.CharOverride-10 {
	font-family:Calibri, sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-11 {
	font-family:Symbol, sans-serif;
	font-size:6px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-12 {
	font-size:10px;
}
span.CharOverride-13 {
	font-family:Arial, sans-serif;
	font-size:9px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-14 {
	font-family:Symbol, sans-serif;
	font-size:10px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-15 {
	color:#000000;
	font-size:10px;
}
span.CharOverride-16 {
	font-size:8px;
}
span.CharOverride-17 {
	font-family:Calibri, sans-serif;
	font-size:10px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-18 {
	color:#ea504e;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-19 {
	font-size:6px;
	vertical-align:super;
}
p._idGenParaOverride-1 {
	page-break-after:always;
}
span._idGenCharOverride-1 {
	font-size:6px;
}
col._idGenTableRowColumn-1 {
	width:62px;
}
col._idGenTableRowColumn-2 {
	width:82px;
}
tr._idGenTableRowColumn-3 {
	min-height:19px;
}
#_idContainer001, #_idContainer002, #_idContainer005, #_idContainer006, #_idContainer007, #_idContainer008 {
	display:inline-block;
	height:569px;
	width:424px;
}
#_idContainer035, #_idContainer036, #_idContainer037, #_idContainer038, #_idContainer042, #_idContainer043, #_idContainer055, #_idContainer056, #_idContainer072, #_idContainer074, #_idContainer084, #_idContainer085, #_idContainer098, #_idContainer100 {
	display:inline-block;
	height:571px;
	width:424px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	height:54px;
	width:42px;
}
img._idGenObjectAttribute-3 {
	height:54px;
	width:36px;
}
img._idGenObjectAttribute-4 {
	height:75px;
	width:66px;
}
img._idGenObjectAttribute-5 {
	height:75px;
	width:69px;
}
img._idGenObjectAttribute-6 {
	height:168px;
	width:91px;
}
img._idGenObjectAttribute-7 {
	height:168px;
	width:119px;
}
img._idGenObjectAttribute-8 {
	height:159px;
	width:110px;
}
img._idGenObjectAttribute-9 {
	height:99px;
	width:81px;
}
img._idGenObjectAttribute-10 {
	height:210px;
	width:107px;
}
img._idGenObjectAttribute-11 {
	height:181px;
	width:98px;
}
img._idGenObjectAttribute-12 {
	height:53px;
	width:98px;
}
img._idGenObjectAttribute-13 {
	height:116px;
	width:118px;
}
img._idGenObjectAttribute-14 {
	height:53px;
	width:87px;
}
img._idGenObjectAttribute-15 {
	height:136px;
	width:82px;
}
img._idGenObjectAttribute-16 {
	height:72px;
	width:84px;
}
img._idGenObjectAttribute-17 {
	height:162px;
	width:93px;
}
img._idGenObjectAttribute-18 {
	height:234px;
	width:85px;
}
img._idGenObjectAttribute-19 {
	height:237px;
	width:98px;
}
img._idGenObjectAttribute-20 {
	height:146px;
	width:127px;
}
img._idGenObjectAttribute-21 {
	height:162px;
	width:142px;
}
img._idGenObjectAttribute-22 {
	height:176px;
	width:128px;
}
img._idGenObjectAttribute-23 {
	height:266px;
	width:130px;
}
img._idGenObjectAttribute-24 {
	height:162px;
	width:86px;
}
img._idGenObjectAttribute-25 {
	height:38px;
	width:118px;
}
img._idGenObjectAttribute-26 {
	height:14px;
	width:126px;
}
img._idGenObjectAttribute-27 {
	height:14px;
	width:110px;
}
img._idGenObjectAttribute-28 {
	height:14px;
	width:127px;
}
img._idGenObjectAttribute-29 {
	height:68px;
	width:94px;
}
img._idGenObjectAttribute-30 {
	height:14px;
	width:116px;
}
img._idGenObjectAttribute-31 {
	height:25px;
	width:32px;
}
img._idGenObjectAttribute-32 {
	height:25px;
	width:36px;
}
img._idGenObjectAttribute-33 {
	height:14px;
	width:142px;
}
img._idGenObjectAttribute-34 {
	height:120px;
	width:90px;
}
img._idGenObjectAttribute-35 {
	height:138px;
	width:151px;
}
img._idGenObjectAttribute-36 {
	height:98px;
	width:95px;
}
img._idGenObjectAttribute-37 {
	height:61px;
	width:86px;
}
img._idGenObjectAttribute-38 {
	height:38px;
	width:66px;
}
img._idGenObjectAttribute-39 {
	height:45px;
	width:50px;
}
img._idGenObjectAttribute-40 {
	height:122px;
	width:85px;
}
img._idGenObjectAttribute-41 {
	height:131px;
	width:62px;
}
img._idGenObjectAttribute-42 {
	height:116px;
	width:90px;
}
img._idGenObjectAttribute-43 {
	height:44px;
	width:59px;
}
img._idGenObjectAttribute-44 {
	height:45px;
	width:59px;
}
img._idGenObjectAttribute-45 {
	height:94px;
	width:81px;
}
img._idGenObjectAttribute-46 {
	height:130px;
	width:96px;
}
img._idGenObjectAttribute-47 {
	height:120px;
	width:70px;
}
img._idGenObjectAttribute-48 {
	height:51px;
	width:58px;
}
img._idGenObjectAttribute-49 {
	height:138px;
	width:108px;
}
img._idGenObjectAttribute-50 {
	height:97px;
	width:115px;
}
img._idGenObjectAttribute-51 {
	height:94px;
	width:86px;
}
img._idGenObjectAttribute-52 {
	height:128px;
	width:95px;
}
img._idGenObjectAttribute-53 {
	height:120px;
	width:64px;
}
img._idGenObjectAttribute-54 {
	height:102px;
	width:92px;
}
img._idGenObjectAttribute-55 {
	height:125px;
	width:118px;
}
img._idGenObjectAttribute-56 {
	height:237px;
	width:126px;
}
img._idGenObjectAttribute-57 {
	height:107px;
	width:129px;
}
img._idGenObjectAttribute-58 {
	height:139px;
	width:128px;
}
img._idGenObjectAttribute-59 {
	height:190px;
	width:88px;
}
img._idGenObjectAttribute-60 {
	height:19px;
	width:82px;
}
img._idGenObjectAttribute-61 {
	height:225px;
	width:106px;
}
img._idGenObjectAttribute-62 {
	height:146px;
	width:93px;
}
img._idGenObjectAttribute-63 {
	height:30px;
	width:44px;
}
img._idGenObjectAttribute-64 {
	height:20px;
	width:51px;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
