body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.Antigos_PG-Direita {
	border-style:solid;
	background-color:#ffffff;
}
div.Antigos_PG-Esquerda {
	border-style:solid;
	background-color:#ffffff;
}
table.Tabela-b-sica {
	border-collapse:collapse;
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	margin-bottom:-4px;
	margin-top:4px;
}
td.Tabela-b-sica {
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:#000000;
	border-top-width:1px;
	border-top-style:solid;
	border-top-color:#000000;
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#000000;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#000000;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	vertical-align:top;
}
p.Cap-tulo {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:6px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Normal {
	-epub-hyphens:none;
	color:#000000;
	font-family:Calibri, sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:8px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Texto-com-recuo {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.25;
	margin-bottom:0;
	margin-left:28px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.T-tulo-02 {
	color:#0080c9;
	font-family:"Frutiger LT Std 45 Light", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.182;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:17px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.T-tulo-03 {
	-epub-hyphens:none;
	color:#000000;
	font-family:Calibri, sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:3px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.T-tulo-03-margem {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Frutiger LT Std 45 Light", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.091;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:11px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.T-tulo-04 {
	-epub-hyphens:none;
	color:#ea504e;
	font-family:"Frutiger LT Std 45 Light", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.182;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.T-tulo-04-margem {
	-epub-hyphens:none;
	color:#ea504e;
	font-family:"Frutiger LT Std 45 Light", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.182;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:11px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.fonte {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:7px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.5;
	margin-bottom:6px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:right;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.questao-1- {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.364;
	list-style-position:outside;
	list-style-type:decimal;
	margin-bottom:6px;
	margin-left:28px;
	margin-right:0;
	margin-top:9px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
li.questao-a- {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.364;
	list-style-position:outside;
	list-style-type:lower-alpha;
	margin-bottom:3px;
	margin-left:20px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.texto {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:20px;
	text-transform:none;
	widows:1;
}
li.texto-bullet {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	list-style-position:outside;
	margin-bottom:3px;
	margin-left:28px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.texto-sem-recuo {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.364;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
span.Hiperlink {
	color:#000000;
	text-decoration:none;
}
span.bold {
	color:#000000;
	font-style:normal;
	font-weight:bold;
}
td.CellOverride-1 {
	background-color:#ea504e;
	border-bottom-color:#ffffff;
	border-left-color:#ffffff;
	border-right-color:#ffffff;
	border-top-color:#ffffff;
	padding-bottom:3px;
	padding-left:3px;
	padding-right:3px;
	padding-top:3px;
	vertical-align:middle;
}
td.CellOverride-2 {
	background-color:#f6b0a2;
	border-bottom-color:#ffffff;
	border-left-color:#ffffff;
	border-right-color:#ffffff;
	border-top-color:#ffffff;
	padding-bottom:3px;
	padding-left:3px;
	padding-right:3px;
	padding-top:3px;
	vertical-align:middle;
}
p.ParaOverride-1 {
	text-indent:14px;
}
li.ParaOverride-2, p.ParaOverride-2 {
	text-indent:0px;
}
p.ParaOverride-3 {
	text-align:center;
	text-indent:0px;
}
p.ParaOverride-4 {
	margin-bottom:6px;
	text-indent:0px;
}
p.ParaOverride-5 {
	margin-bottom:0px;
}
p.ParaOverride-6 {
	margin-bottom:3px;
	margin-top:3px;
}
p.ParaOverride-7 {
	margin-bottom:3px;
}
p.ParaOverride-8 {
	margin-bottom:0px;
	margin-top:9px;
}
p.ParaOverride-9 {
	margin-top:3px;
}
p.ParaOverride-10 {
	margin-left:20px;
	margin-top:31px;
	text-indent:0px;
}
p.ParaOverride-11 {
	margin-bottom:6px;
}
p.ParaOverride-12 {
	margin-bottom:0px;
	margin-top:11px;
}
p.ParaOverride-13 {
	margin-bottom:0px;
	margin-top:3px;
}
p.ParaOverride-14 {
	margin-bottom:6px;
	margin-top:3px;
}
p.ParaOverride-15 {
	margin-bottom:0px;
	margin-top:6px;
}
p.ParaOverride-16 {
	margin-bottom:0px;
	text-align:justify;
	text-align-last:left;
}
p.ParaOverride-17 {
	margin-bottom:6px;
	text-align:left;
}
p.ParaOverride-18 {
	text-align:left;
}
p.ParaOverride-19 {
	margin-top:6px;
}
li.ParaOverride-20 {
	margin-bottom:0px;
	margin-top:14px;
	text-indent:0px;
}
li.ParaOverride-21 {
	margin-bottom:0px;
	margin-top:3px;
	text-indent:0px;
}
li.ParaOverride-22 {
	margin-bottom:6px;
	margin-top:3px;
	text-indent:0px;
}
p.ParaOverride-23 {
	margin-bottom:0px;
	margin-top:11px;
	page-break-after:always;
}
p.ParaOverride-24 {
	margin-bottom:11px;
}
p.ParaOverride-25 {
	margin-bottom:0px;
	margin-top:11px;
	text-align:center;
}
p.ParaOverride-26 {
	margin-bottom:9px;
}
p.ParaOverride-27 {
	margin-bottom:0px;
	margin-top:3px;
	text-align:center;
}
p.ParaOverride-28 {
	margin-top:3px;
	text-align:center;
}
p.ParaOverride-29 {
	margin-top:23px;
}
li.ParaOverride-30 {
	margin-top:6px;
	text-indent:0px;
}
p.ParaOverride-31 {
	margin-left:20px;
}
p.ParaOverride-32 {
	margin-bottom:0px;
	margin-left:20px;
}
p.ParaOverride-33 {
	margin-bottom:3px;
	margin-left:20px;
}
p.ParaOverride-34 {
	margin-left:20px;
	margin-top:3px;
}
p.ParaOverride-35 {
	margin-bottom:0px;
	margin-top:6px;
	page-break-after:always;
}
p.ParaOverride-36 {
	margin-top:9px;
}
p.ParaOverride-37 {
	margin-bottom:1px;
}
p.ParaOverride-38 {
	margin-bottom:1px;
	margin-top:3px;
	text-align:justify;
	text-align-last:left;
}
p.ParaOverride-39 {
	margin-bottom:1px;
	margin-top:3px;
}
li.ParaOverride-40 {
	margin-top:3px;
	text-indent:0px;
}
p.ParaOverride-41 {
	margin-left:20px;
	text-indent:0px;
}
li.ParaOverride-42 {
	margin-bottom:20px;
	text-indent:0px;
}
p.ParaOverride-43 {
	text-align:center;
}
p.ParaOverride-44 {
	margin-bottom:0px;
	margin-top:14px;
}
p.ParaOverride-45 {
	list-style-position:inside;
	list-style-type:none;
	margin-bottom:0px;
	margin-left:0px;
	text-indent:0px;
}
p.ParaOverride-46 {
	margin-bottom:3px;
	margin-top:6px;
	text-align:center;
}
p.ParaOverride-47 {
	margin-bottom:3px;
	margin-top:6px;
}
p.ParaOverride-48 {
	margin-bottom:3px;
	margin-top:9px;
}
p.ParaOverride-49 {
	margin-bottom:3px;
	text-align:center;
}
p.ParaOverride-50 {
	margin-bottom:0px;
	margin-top:14px;
	text-align:center;
}
p.ParaOverride-51 {
	margin-bottom:0px;
	margin-top:9px;
	text-align:center;
}
p.ParaOverride-52 {
	margin-bottom:1px;
	margin-top:6px;
}
p.ParaOverride-53 {
	margin-bottom:1px;
	margin-top:6px;
	page-break-after:always;
}
p.ParaOverride-54 {
	margin-bottom:1px;
	margin-top:9px;
	text-align:center;
}
p.ParaOverride-55 {
	margin-bottom:1px;
	text-align:justify;
	text-align-last:left;
}
p.ParaOverride-56 {
	margin-top:6px;
	text-align:center;
}
p.ParaOverride-57 {
	text-align:justify;
	text-align-last:left;
}
p.ParaOverride-58 {
	margin-bottom:0px;
	margin-top:14px;
	page-break-after:always;
}
p.ParaOverride-59 {
	page-break-after:always;
}
span.CharOverride-1 {
	font-family:Arial, sans-serif;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-2 {
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-3 {
	color:#ffffff;
	font-size:7px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-4 {
	font-size:7px;
}
span.CharOverride-5 {
	font-size:10px;
}
span.CharOverride-6 {
	font-family:Symbol, sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-7 {
	font-family:Calibri, sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-8 {
	font-family:Symbol, sans-serif;
	font-size:10px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-9 {
	font-family:Arial, sans-serif;
	font-size:10px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-10 {
	font-size:6px;
	vertical-align:super;
}
span.CharOverride-11 {
	font-family:Arial, sans-serif;
	font-size:6px;
	font-style:normal;
	font-weight:normal;
	vertical-align:super;
}
span.CharOverride-12 {
	font-size:10px;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-13 {
	font-size:10px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-14 {
	font-size:58%;
	vertical-align:super;
}
span.CharOverride-15 {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:6px;
	font-style:normal;
	font-weight:normal;
	vertical-align:super;
}
span.CharOverride-16 {
	font-size:6px;
	vertical-align:sub;
}
span.CharOverride-17 {
	font-family:Symbol, sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-18 {
	font-size:58%;
	vertical-align:sub;
}
span.CharOverride-19 {
	font-family:"Times New Roman", serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-20 {
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-21 {
	font-family:Arial, sans-serif;
	font-size:6px;
	font-style:normal;
	font-weight:normal;
	vertical-align:sub;
}
span.CharOverride-22 {
	color:#000000;
	font-size:10px;
}
span.CharOverride-23 {
	font-family:Calibri, sans-serif;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-24 {
	color:#000000;
	font-family:Calibri, sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-25 {
	color:#000000;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-26 {
	color:#000000;
	font-family:Symbol, sans-serif;
	font-size:10px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-27 {
	font-family:Arial, sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-28 {
	font-family:"Wingdings 3", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-29 {
	font-family:"MT Extra", sans-serif;
	font-size:58%;
	font-style:normal;
	font-weight:normal;
	vertical-align:sub;
}
col._idGenTableRowColumn-1 {
	width:62px;
}
col._idGenTableRowColumn-2 {
	width:82px;
}
tr._idGenTableRowColumn-3 {
	min-height:19px;
}
tr._idGenTableRowColumn-4 {
	min-height:11px;
}
#_idContainer001, #_idContainer002, #_idContainer006, #_idContainer007, #_idContainer008, #_idContainer009, #_idContainer070, #_idContainer071, #_idContainer073, #_idContainer074, #_idContainer085, #_idContainer086, #_idContainer091, #_idContainer092, #_idContainer094, #_idContainer095, #_idContainer125, #_idContainer126, #_idContainer127, #_idContainer128 {
	display:inline-block;
	height:569px;
	width:424px;
}
#_idContainer010, #_idContainer011, #_idContainer036, #_idContainer037, #_idContainer038, #_idContainer039, #_idContainer052, #_idContainer053, #_idContainer064, #_idContainer065, #_idContainer066, #_idContainer068 {
	display:inline-block;
	height:571px;
	width:424px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	height:11px;
	width:66px;
}
img._idGenObjectAttribute-3 {
	height:29px;
	width:42px;
}
img._idGenObjectAttribute-4 {
	height:45px;
	width:47px;
}
img._idGenObjectAttribute-5 {
	height:29px;
	width:48px;
}
img._idGenObjectAttribute-6 {
	height:58px;
	width:63px;
}
img._idGenObjectAttribute-7 {
	height:19px;
	width:110px;
}
img._idGenObjectAttribute-8 {
	height:14px;
	width:72px;
}
img._idGenObjectAttribute-9 {
	height:14px;
	width:78px;
}
img._idGenObjectAttribute-10 {
	height:25px;
	width:65px;
}
img._idGenObjectAttribute-11 {
	height:51px;
	width:87px;
}
img._idGenObjectAttribute-12 {
	height:73px;
	width:134px;
}
img._idGenObjectAttribute-13 {
	height:27px;
	width:59px;
}
img._idGenObjectAttribute-14 {
	height:27px;
	width:64px;
}
img._idGenObjectAttribute-15 {
	height:27px;
	width:72px;
}
img._idGenObjectAttribute-16 {
	height:51px;
	width:93px;
}
img._idGenObjectAttribute-17 {
	height:61px;
	width:86px;
}
img._idGenObjectAttribute-18 {
	height:14px;
	width:66px;
}
img._idGenObjectAttribute-19 {
	height:61px;
	width:169px;
}
img._idGenObjectAttribute-20 {
	height:51px;
	width:58px;
}
img._idGenObjectAttribute-21 {
	height:70px;
	width:109px;
}
img._idGenObjectAttribute-22 {
	height:25px;
	width:40px;
}
img._idGenObjectAttribute-23 {
	height:25px;
	width:35px;
}
img._idGenObjectAttribute-24 {
	height:78px;
	width:107px;
}
img._idGenObjectAttribute-25 {
	height:86px;
	width:54px;
}
img._idGenObjectAttribute-26 {
	height:78px;
	width:54px;
}
img._idGenObjectAttribute-27 {
	height:45px;
	width:123px;
}
img._idGenObjectAttribute-28 {
	height:93px;
	width:113px;
}
img._idGenObjectAttribute-29 {
	height:25px;
	width:61px;
}
img._idGenObjectAttribute-30 {
	height:25px;
	width:30px;
}
img._idGenObjectAttribute-31 {
	height:25px;
	width:103px;
}
img._idGenObjectAttribute-32 {
	height:25px;
	width:99px;
}
img._idGenObjectAttribute-33 {
	height:25px;
	width:105px;
}
img._idGenObjectAttribute-34 {
	height:25px;
	width:59px;
}
img._idGenObjectAttribute-35 {
	height:25px;
	width:94px;
}
img._idGenObjectAttribute-36 {
	height:60px;
	width:102px;
}
img._idGenObjectAttribute-37 {
	height:14px;
	width:21px;
}
img._idGenObjectAttribute-38 {
	height:43px;
	width:54px;
}
img._idGenObjectAttribute-39 {
	height:43px;
	width:107px;
}
img._idGenObjectAttribute-40 {
	height:13px;
	width:16px;
}
img._idGenObjectAttribute-41 {
	height:107px;
	width:89px;
}
img._idGenObjectAttribute-42 {
	height:54px;
	width:65px;
}
img._idGenObjectAttribute-43 {
	height:30px;
	width:52px;
}
img._idGenObjectAttribute-44 {
	height:27px;
	width:113px;
}
img._idGenObjectAttribute-45 {
	height:26px;
	width:128px;
}
img._idGenObjectAttribute-46 {
	height:25px;
	width:80px;
}
img._idGenObjectAttribute-47 {
	height:25px;
	width:97px;
}
img._idGenObjectAttribute-48 {
	height:11px;
	width:11px;
}
img._idGenObjectAttribute-49 {
	height:12px;
	width:11px;
}
img._idGenObjectAttribute-50 {
	height:15px;
	width:40px;
}
img._idGenObjectAttribute-51 {
	height:25px;
	width:64px;
}
img._idGenObjectAttribute-52 {
	height:25px;
	width:83px;
}
img._idGenObjectAttribute-53 {
	height:14px;
	width:108px;
}
img._idGenObjectAttribute-54 {
	height:14px;
	width:121px;
}
img._idGenObjectAttribute-55 {
	height:28px;
	width:64px;
}
img._idGenObjectAttribute-56 {
	height:26px;
	width:55px;
}
img._idGenObjectAttribute-57 {
	height:198px;
	width:122px;
}
img._idGenObjectAttribute-58 {
	height:25px;
	width:78px;
}
img._idGenObjectAttribute-59 {
	height:25px;
	width:98px;
}
img._idGenObjectAttribute-60 {
	height:25px;
	width:10px;
}
img._idGenObjectAttribute-61 {
	height:77px;
	width:111px;
}
img._idGenObjectAttribute-62 {
	height:110px;
	width:107px;
}
img._idGenObjectAttribute-63 {
	height:22px;
	width:93px;
}
img._idGenObjectAttribute-64 {
	height:25px;
	width:38px;
}
img._idGenObjectAttribute-65 {
	height:13px;
	width:49px;
}
img._idGenObjectAttribute-66 {
	height:87px;
	width:132px;
}
img._idGenObjectAttribute-67 {
	height:43px;
	width:150px;
}
img._idGenObjectAttribute-68 {
	height:14px;
	width:16px;
}
img._idGenObjectAttribute-69 {
	height:25px;
	width:26px;
}
img._idGenObjectAttribute-70 {
	height:25px;
	width:63px;
}
img._idGenObjectAttribute-71 {
	height:96px;
	width:158px;
}
img._idGenObjectAttribute-72 {
	height:103px;
	width:157px;
}
img._idGenObjectAttribute-73 {
	height:73px;
	width:137px;
}
img._idGenObjectAttribute-74 {
	height:38px;
	width:55px;
}
img._idGenObjectAttribute-75 {
	height:106px;
	width:140px;
}
img._idGenObjectAttribute-76 {
	height:27px;
	width:94px;
}
img._idGenObjectAttribute-77 {
	height:27px;
	width:90px;
}
img._idGenObjectAttribute-78 {
	height:51px;
	width:44px;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
div._idGenObjectStyleOverride-2 {
	background-color:#ffffff;
	border-width:0px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
