body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.Antigos_PG-Direita {
	border-style:solid;
	background-color:#ffffff;
}
div.Antigos_PG-Esquerda {
	border-style:solid;
	background-color:#ffffff;
}
table.Tabela-b-sica {
	border-collapse:collapse;
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	margin-bottom:-4px;
	margin-top:4px;
}
td.Tabela-b-sica {
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:#000000;
	border-top-width:1px;
	border-top-style:solid;
	border-top-color:#000000;
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#000000;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#000000;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	vertical-align:top;
}
p.Atividades {
	-epub-hyphens:none;
	color:#ea504e;
	font-family:Arial, sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.182;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Cap-tulo {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:6px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Normal {
	-epub-hyphens:none;
	color:#000000;
	font-family:Calibri, sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:8px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.T-tulo-02 {
	color:#0080c9;
	font-family:"Frutiger LT Std 45 Light", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.182;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:17px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.T-tulo-03-margem {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Frutiger LT Std 45 Light", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.091;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:11px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.T-tulo-04-margem {
	-epub-hyphens:none;
	color:#ea504e;
	font-family:Arial, sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.182;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:11px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
li.bullet-texto-inicial {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	list-style-position:outside;
	margin-bottom:0;
	margin-left:28px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.fonte {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:7px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.5;
	margin-bottom:6px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:right;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.indicacoes {
	color:#575756;
	font-family:Arial, sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.333;
	margin-bottom:6px;
	margin-left:0;
	margin-right:0;
	margin-top:3px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
li.questao-a-, p.questao-a- {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.5;
	list-style-position:outside;
	list-style-type:lower-alpha;
	margin-bottom:3px;
	margin-left:20px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.texto {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:20px;
	text-transform:none;
	widows:1;
}
p.texto-sem-recuo {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
span.Hiperlink {
	color:#000000;
	text-decoration:none;
}
span.expoente {
	font-size:11px;
	vertical-align:super;
}
span.numero-questao {
	color:#ea504e;
	font-family:Arial, sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight:normal;
}
td.CellOverride-1 {
	background-color:#ea504e;
	border-bottom-color:#ffffff;
	border-left-color:#ffffff;
	border-right-color:#ffffff;
	border-top-color:#ffffff;
	padding-bottom:3px;
	padding-left:3px;
	padding-right:3px;
	padding-top:3px;
	vertical-align:middle;
}
td.CellOverride-2 {
	background-color:#f6b0a2;
	border-bottom-color:#ffffff;
	border-left-color:#ffffff;
	border-right-color:#ffffff;
	border-top-color:#ffffff;
	padding-bottom:3px;
	padding-left:3px;
	padding-right:3px;
	padding-top:3px;
	vertical-align:middle;
}
p.ParaOverride-1 {
	text-indent:14px;
}
p.ParaOverride-2 {
	text-align:center;
	text-indent:0px;
}
p.ParaOverride-3 {
	margin-bottom:6px;
	text-indent:0px;
}
p.ParaOverride-4 {
	margin-top:6px;
}
p.ParaOverride-5 {
	text-align:center;
}
p.ParaOverride-6 {
	margin-bottom:0px;
}
li.ParaOverride-7 {
	margin-bottom:14px;
	margin-top:6px;
	text-indent:0px;
}
p.ParaOverride-8 {
	margin-top:17px;
}
li.ParaOverride-9 {
	text-indent:0px;
}
p.ParaOverride-10 {
	margin-left:20px;
}
p.ParaOverride-11 {
	margin-left:17px;
}
p.ParaOverride-12 {
	margin-bottom:6px;
	margin-top:6px;
}
p.ParaOverride-13 {
	margin-left:20px;
	margin-top:6px;
}
p.ParaOverride-14 {
	margin-bottom:6px;
	margin-left:20px;
}
p.ParaOverride-15 {
	margin-bottom:0px;
	margin-top:9px;
	page-break-after:always;
}
p.ParaOverride-16 {
	margin-bottom:0px;
	margin-top:9px;
}
p.ParaOverride-17 {
	margin-bottom:0px;
	margin-top:3px;
}
p.ParaOverride-18 {
	text-align:left;
}
p.ParaOverride-19 {
	margin-bottom:0px;
	margin-top:23px;
}
p.ParaOverride-20 {
	margin-bottom:0px;
	margin-top:11px;
}
li.ParaOverride-21 {
	margin-top:20px;
	text-indent:0px;
}
li.ParaOverride-22 {
	margin-top:6px;
	text-indent:0px;
}
li.ParaOverride-23 {
	margin-top:9px;
	text-indent:0px;
}
li.ParaOverride-24 {
	margin-top:11px;
	text-indent:0px;
}
p.ParaOverride-25 {
	list-style-type:none;
	margin-top:17px;
}
p.ParaOverride-26 {
	margin-top:20px;
}
p.ParaOverride-27 {
	margin-bottom:3px;
	margin-top:3px;
}
p.ParaOverride-28 {
	margin-bottom:0px;
	margin-top:6px;
}
p.ParaOverride-29 {
	margin-bottom:0px;
	margin-top:11px;
	page-break-after:always;
}
p.ParaOverride-30 {
	margin-bottom:6px;
	margin-top:11px;
}
li.ParaOverride-31 {
	margin-bottom:9px;
	text-indent:0px;
}
p.ParaOverride-32 {
	list-style-position:inside;
	list-style-type:none;
	text-indent:0px;
}
p.ParaOverride-33 {
	list-style-position:inside;
	list-style-type:none;
	margin-top:9px;
	text-indent:0px;
}
p.ParaOverride-34 {
	margin-bottom:0px;
	margin-top:14px;
}
p.ParaOverride-35 {
	margin-bottom:5px;
	margin-top:2px;
}
p.ParaOverride-36 {
	margin-top:11px;
}
li.ParaOverride-37 {
	margin-bottom:0px;
	text-align:left;
	text-indent:0px;
}
li.ParaOverride-38 {
	margin-bottom:0px;
	margin-top:6px;
	text-align:left;
	text-indent:0px;
}
p.ParaOverride-39 {
	margin-top:9px;
}
li.ParaOverride-40 {
	margin-bottom:6px;
	margin-top:6px;
	text-indent:0px;
}
p.ParaOverride-41 {
	margin-bottom:0px;
	margin-left:20px;
	margin-top:3px;
	text-indent:-20px;
}
p.ParaOverride-42 {
	margin-bottom:0px;
	margin-left:20px;
	text-indent:-20px;
}
li.ParaOverride-43 {
	margin-bottom:0px;
	margin-top:6px;
	text-indent:0px;
}
p.ParaOverride-44 {
	margin-top:3px;
}
p.ParaOverride-45 {
	margin-top:14px;
}
p.ParaOverride-46 {
	list-style-type:none;
}
p.ParaOverride-47 {
	list-style-type:none;
	margin-top:3px;
}
p.ParaOverride-48 {
	margin-bottom:3px;
}
p.ParaOverride-49 {
	margin-bottom:0px;
	text-align:center;
}
p.ParaOverride-50 {
	margin-bottom:0px;
	page-break-after:always;
}
p.ParaOverride-51 {
	margin-bottom:9px;
}
li.ParaOverride-52 {
	text-align:left;
	text-indent:0px;
}
li.ParaOverride-53 {
	margin-top:3px;
	text-indent:0px;
}
p.ParaOverride-54 {
	margin-top:11px;
	page-break-after:always;
}
p.ParaOverride-55 {
	page-break-after:always;
}
p.ParaOverride-56 {
	margin-bottom:6px;
}
p.ParaOverride-57 {
	margin-top:3px;
	page-break-after:always;
}
p.ParaOverride-58 {
	margin-top:9px;
	page-break-after:always;
}
span.CharOverride-1 {
	font-family:Arial, sans-serif;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-2 {
	color:#ffffff;
	font-size:7px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-3 {
	font-size:7px;
}
span.CharOverride-4 {
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-5 {
	font-family:Calibri, sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-6 {
	font-family:Symbol, sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-7 {
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-8 {
	font-family:Symbol, sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-9 {
	font-size:10px;
}
span.CharOverride-10 {
	font-size:6px;
}
span.CharOverride-11 {
	font-size:8px;
}
span.CharOverride-12 {
	font-size:8px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-13 {
	font-family:"Times New Roman", serif;
	font-style:normal;
	font-weight:normal;
}
col._idGenTableRowColumn-1 {
	width:62px;
}
col._idGenTableRowColumn-2 {
	width:82px;
}
tr._idGenTableRowColumn-3 {
	min-height:27px;
}
tr._idGenTableRowColumn-4 {
	min-height:11px;
}
tr._idGenTableRowColumn-5 {
	min-height:19px;
}
#_idContainer001, #_idContainer002, #_idContainer004, #_idContainer005, #_idContainer007, #_idContainer008, #_idContainer036, #_idContainer037 {
	display:inline-block;
	height:569px;
	width:424px;
}
#_idContainer012, #_idContainer013, #_idContainer015, #_idContainer016, #_idContainer017, #_idContainer018, #_idContainer028, #_idContainer029, #_idContainer031, #_idContainer032, #_idContainer034, #_idContainer035, #_idContainer051, #_idContainer052, #_idContainer056, #_idContainer057, #_idContainer073, #_idContainer074 {
	display:inline-block;
	height:571px;
	width:424px;
}
#_idContainer022 {
	-ms-transform:translate(0.000px,34.910px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,34.910px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:5.24px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,34.910px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,34.910px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:19.61px;
	z-index:4;
}
#_idContainer023 {
	-ms-transform:translate(21.464px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(21.464px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:57.18px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(21.464px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(21.464px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:19.10px;
	z-index:0;
}
#_idContainer024 {
	-ms-transform:translate(25.851px,36.624px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(25.851px,36.624px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:5.24px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(25.851px,36.624px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(25.851px,36.624px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:3.60px;
	z-index:1;
}
#_idContainer025 {
	-ms-transform:translate(103.747px,7.798px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(103.747px,7.798px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:5.24px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(103.747px,7.798px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(103.747px,7.798px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:19.61px;
	z-index:2;
}
#_idContainer026 {
	-ms-transform:translate(119.055px,37.531px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(119.055px,37.531px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:5.24px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(119.055px,37.531px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(119.055px,37.531px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:19.61px;
	z-index:3;
}
#_idContainer027 {
	display:inline-block;
	height:59px;
	position:relative;
	width:139px;
}
#_idContainer048, #_idContainer049, #_idContainer075, #_idContainer076, #_idContainer077, #_idContainer078 {
	display:inline-block;
	height:570px;
	width:424px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	height:25px;
	width:36px;
}
img._idGenObjectAttribute-3 {
	height:25px;
	width:35px;
}
img._idGenObjectAttribute-4 {
	height:25px;
	width:53px;
}
img._idGenObjectAttribute-5 {
	height:26px;
	width:49px;
}
img._idGenObjectAttribute-6 {
	height:26px;
	width:66px;
}
img._idGenObjectAttribute-7 {
	height:26px;
	width:62px;
}
img._idGenObjectAttribute-8 {
	height:25px;
	width:32px;
}
img._idGenObjectAttribute-9 {
	height:25px;
	width:37px;
}
img._idGenObjectAttribute-10 {
	height:25px;
	width:31px;
}
img._idGenObjectAttribute-11 {
	height:25px;
	width:41px;
}
img._idGenObjectAttribute-12 {
	height:51px;
	width:34px;
}
img._idGenObjectAttribute-13 {
	height:25px;
	width:43px;
}
img._idGenObjectAttribute-14 {
	height:26px;
	width:37px;
}
img._idGenObjectAttribute-15 {
	height:25px;
	width:34px;
}
img._idGenObjectAttribute-16 {
	height:26px;
	width:38px;
}
img._idGenObjectAttribute-17 {
	height:52px;
	width:50px;
}
img._idGenObjectAttribute-18 {
	height:25px;
	width:50px;
}
img._idGenObjectAttribute-19 {
	height:73px;
	width:121px;
}
img._idGenObjectAttribute-20 {
	height:25px;
	width:38px;
}
img._idGenObjectAttribute-21 {
	height:26px;
	width:41px;
}
img._idGenObjectAttribute-22 {
	height:26px;
	width:46px;
}
img._idGenObjectAttribute-23 {
	height:26px;
	width:58px;
}
img._idGenObjectAttribute-24 {
	height:92px;
	width:142px;
}
img._idGenObjectAttribute-25 {
	height:157px;
	width:91px;
}
img._idGenObjectAttribute-26 {
	height:51px;
	width:114px;
}
img._idGenObjectAttribute-27 {
	height:51px;
	width:54px;
}
img._idGenObjectAttribute-28 {
	height:25px;
	width:10px;
}
img._idGenObjectAttribute-29 {
	height:26px;
	width:113px;
}
img._idGenObjectAttribute-30 {
	height:25px;
	width:52px;
}
img._idGenObjectAttribute-31 {
	height:26px;
	width:101px;
}
img._idGenObjectAttribute-32 {
	height:38px;
	width:155px;
}
img._idGenObjectAttribute-33 {
	height:14px;
	width:17px;
}
img._idGenObjectAttribute-34 {
	height:32px;
	width:155px;
}
img._idGenObjectAttribute-35 {
	height:35px;
	width:116px;
}
img._idGenObjectAttribute-36 {
	height:39px;
	width:116px;
}
img._idGenObjectAttribute-37 {
	height:13px;
	width:16px;
}
img._idGenObjectAttribute-38 {
	height:14px;
	width:16px;
}
img._idGenObjectAttribute-39 {
	height:14px;
	width:14px;
}
img._idGenObjectAttribute-40 {
	height:41px;
	width:116px;
}
img._idGenObjectAttribute-41 {
	height:81px;
	width:270px;
}
img._idGenObjectAttribute-42 {
	height:103px;
	width:200px;
}
img._idGenObjectAttribute-43 {
	height:83px;
	width:125px;
}
img._idGenObjectAttribute-44 {
	height:71px;
	width:156px;
}
img._idGenObjectAttribute-45 {
	height:26px;
	width:39px;
}
img._idGenObjectAttribute-46 {
	height:26px;
	width:47px;
}
img._idGenObjectAttribute-47 {
	height:26px;
	width:98px;
}
img._idGenObjectAttribute-48 {
	height:25px;
	width:39px;
}
img._idGenObjectAttribute-49 {
	height:53px;
	width:111px;
}
img._idGenObjectAttribute-50 {
	height:122px;
	width:150px;
}
img._idGenObjectAttribute-51 {
	height:55px;
	width:115px;
}
img._idGenObjectAttribute-52 {
	height:83px;
	width:73px;
}
img._idGenObjectAttribute-53 {
	height:52px;
	width:46px;
}
img._idGenObjectAttribute-54 {
	height:25px;
	width:54px;
}
img._idGenObjectAttribute-55 {
	height:100px;
	width:102px;
}
img._idGenObjectAttribute-56 {
	height:38px;
	width:39px;
}
img._idGenObjectAttribute-57 {
	height:78px;
	width:50px;
}
img._idGenObjectAttribute-58 {
	height:25px;
	width:56px;
}
img._idGenObjectAttribute-59 {
	height:25px;
	width:42px;
}
img._idGenObjectAttribute-60 {
	height:25px;
	width:77px;
}
img._idGenObjectAttribute-61 {
	height:25px;
	width:49px;
}
img._idGenObjectAttribute-62 {
	height:142px;
	width:56px;
}
img._idGenObjectAttribute-63 {
	height:66px;
	width:69px;
}
img._idGenObjectAttribute-64 {
	height:62px;
	width:72px;
}
img._idGenObjectAttribute-65 {
	height:26px;
	width:27px;
}
img._idGenObjectAttribute-66 {
	height:52px;
	width:34px;
}
img._idGenObjectAttribute-67 {
	height:96px;
	width:97px;
}
img._idGenObjectAttribute-68 {
	height:67px;
	width:58px;
}
img._idGenObjectAttribute-69 {
	height:99px;
	width:116px;
}
img._idGenObjectAttribute-70 {
	height:78px;
	width:93px;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
div._idGenObjectStyleOverride-2 {
	border-color:#e30613;
	border-style:dashed;
	border-width:1px;
}
div._idGenObjectStyleOverride-3 {
	background-color:#ffffff;
	border-width:0px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
