body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.Antigos_PG-Direita {
	border-style:solid;
	background-color:#ffffff;
}
div.Antigos_PG-Esquerda {
	border-style:solid;
	background-color:#ffffff;
}
table.Tabela-b-sica {
	border-collapse:collapse;
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	margin-bottom:-4px;
	margin-top:4px;
}
td.Tabela-b-sica {
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:#000000;
	border-top-width:1px;
	border-top-style:solid;
	border-top-color:#000000;
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#000000;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#000000;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	vertical-align:top;
}
p.Cap-tulo {
	color:#000000;
	
	/*font-family:Arial, sans-serif;*/
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:6px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Fonte {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.25;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:right;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Normal {
	-epub-hyphens:none;
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:8px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Par-grafo-b-sico {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.T-tulo-02 {
	color:#0080c9;
	font-family:Arial, sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.182;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:17px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.T-tulo-03-margem {
	-epub-hyphens:none;
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.182;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:11px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.T-tulo-04 {
	-epub-hyphens:none;
	color:#ea504e;
	font-family:Arial, sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.182;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.T-tulo-04-margem {
	-epub-hyphens:none;
	color:#ea504e;
	font-family:Arial, sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.182;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:11px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
li.bullet-texto-inicial {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	list-style-position:outside;
	margin-bottom:0;
	margin-left:0px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
li.questao-1- {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.364;
	list-style-position:outside;
	list-style-type:decimal;
	margin-bottom:6px;
	margin-left:28px;
	margin-right:0;
	margin-top:9px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
li.questao-a-, p.questao-a- {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	list-style-position:outside;
	list-style-type:lower-alpha;
	margin-bottom:3px;
	margin-left:20px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.texto {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:20px;
	text-transform:none;
	widows:1;
}
p.texto-sem-recuo {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.364;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
span.Hiperlink {
	color:#000000;
	text-decoration:none;
}
span.bold {
	color:#000000;
	font-style:normal;
	font-weight:bold;
}
span.bullet-azul {
	color:#0080c9;
	font-family:Arial, sans-serif;
	font-size:10px;
	font-style:normal;
	font-weight:normal;
}
span.numero-questao {
	color:#ea504e;
	font-family:Arial, sans-serif;
	font-size:10px;
	font-style:normal;
	font-weight:normal;
}
td.CellOverride-1 {
	background-color:#ea504e;
	border-bottom-color:#ffffff;
	border-left-color:#ffffff;
	border-right-color:#ffffff;
	border-top-color:#ffffff;
	padding-bottom:3px;
	padding-left:3px;
	padding-right:3px;
	padding-top:3px;
	vertical-align:middle;
}
td.CellOverride-2 {
	background-color:#f6b0a2;
	border-bottom-color:#ffffff;
	border-left-color:#ffffff;
	border-right-color:#ffffff;
	border-top-color:#ffffff;
	padding-bottom:3px;
	padding-left:3px;
	padding-right:3px;
	padding-top:3px;
	vertical-align:middle;
}
p.ParaOverride-1 {
	text-indent:14px;
}
p.ParaOverride-2 {
	text-align:center;
	text-indent:0px;
}
p.ParaOverride-3, li.ParaOverride-3 {
	margin-bottom:6px;
	text-indent:0px;
}
p.ParaOverride-4 {
	margin-bottom:0px;
}
p.ParaOverride-5 {
	margin-top:6px;
}
p.ParaOverride-6, li.ParaOverride-6 {
	text-indent:0px;
}
p.ParaOverride-7 {
	margin-left:20px;
	margin-top:6px;
	text-align:left;
	text-indent:0px;
}
p.ParaOverride-8 {
	margin-left:20px;
	text-align:left;
	text-indent:0px;
}
p.ParaOverride-9 {
	margin-top:11px;
}
p.ParaOverride-10 {
	margin-bottom:0px;
	text-align:left;
	text-indent:0px;
}
p.ParaOverride-11 {
	margin-top:9px;
}
p.ParaOverride-12 {
	margin-bottom:0px;
	margin-top:3px;
}
p.ParaOverride-13 {
	text-align:left;
	text-indent:0px;
}
p.ParaOverride-14 {
	margin-top:3px;
	text-indent:20px;
}
li.ParaOverride-15 {
	margin-bottom:17px;
	text-indent:0px;
}
li.ParaOverride-16 {
	margin-top:54px;
	text-indent:0px;
}
p.ParaOverride-17 {
	list-style-type:none;
	margin-top:113px;
}
p.ParaOverride-18 {
	list-style-type:none;
	margin-top:65px;
}
li.ParaOverride-19 {
	margin-top:11px;
	text-indent:0px;
}
p.ParaOverride-20 {
	margin-left:28px;
}
li.ParaOverride-21 {
	margin-top:3px;
	text-indent:0px;
}
p.ParaOverride-22 {
	margin-bottom:9px;
	margin-top:9px;
}
p.ParaOverride-23 {
	margin-bottom:9px;
}
p.ParaOverride-24 {
	margin-top:14px;
}
li.ParaOverride-25 {
	margin-top:31px;
	text-indent:0px;
}
p.ParaOverride-26 {
	text-align:left;
}
p.ParaOverride-27 {
	margin-top:3px;
}
p.ParaOverride-28 {
	margin-top:17px;
}
p.ParaOverride-29 {
	list-style-type:none;
}
li.ParaOverride-30 {
	margin-left:13px;
	text-indent:0px;
}
li.ParaOverride-31 {
	margin-bottom:0px;
	text-indent:0px;
}
li.ParaOverride-32 {
	margin-bottom:0px;
	margin-top:3px;
	text-indent:0px;
}
p.ParaOverride-33 {
	margin-top:23px;
}
li.ParaOverride-34 {
	margin-bottom:14px;
	text-indent:0px;
}
li.ParaOverride-35 {
	margin-bottom:14px;
	margin-top:3px;
	text-indent:0px;
}
p.ParaOverride-36 {
	margin-bottom:9px;
	margin-top:14px;
}
li.ParaOverride-37 {
	margin-bottom:11px;
	text-indent:0px;
}
p.ParaOverride-38 {
	list-style-position:inside;
	list-style-type:none;
	margin-bottom:11px;
	text-indent:0px;
}
p.ParaOverride-39 {
	margin-bottom:0px;
	margin-top:6px;
}
li.ParaOverride-40 {
	margin-bottom:6px;
	margin-top:11px;
	text-indent:0px;
}
p.ParaOverride-41 {
	margin-bottom:0px;
	margin-top:20px;
}
li.ParaOverride-42 {
	margin-bottom:11px;
	margin-top:11px;
	text-indent:0px;
}
li.ParaOverride-43 {
	margin-bottom:11px;
	margin-top:17px;
	text-indent:0px;
}
li.ParaOverride-44 {
	margin-top:6px;
	text-indent:0px;
}
li.ParaOverride-45 {
	margin-bottom:6px;
	margin-top:6px;
	text-indent:0px;
}
p.ParaOverride-46 {
	margin-bottom:6px;
}
p.ParaOverride-47 {
	margin-top:20px;
}
p.ParaOverride-48 {
	text-indent:20px;
}
p.ParaOverride-49 {
	margin-top:0px;
}
p.ParaOverride-50 {
	margin-bottom:9px;
	margin-top:6px;
}
p.ParaOverride-51 {
	margin-bottom:6px;
	margin-top:9px;
}
li.ParaOverride-52 {
	margin-top:68px;
	text-indent:0px;
}
p.ParaOverride-53 {
	text-align:justify;
	text-align-last:left;
}
p.ParaOverride-54 {
	margin-top:9px;
	page-break-after:always;
}
span.CharOverride-1 {
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-2 {
	font-family:Symbol, sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-3 {
	color:#ffffff;
	font-size:7px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-4 {
	font-size:7px;
}
span.CharOverride-5 {
	font-family:Calibri, sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-6 {
	font-family:Tiger, serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-7 {
	color:#ea504e;
	font-size:11px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-8 {
	font-size:58%;
	vertical-align:sub;
}
span.CharOverride-9 {
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-10 {
	font-size:10px;
}
span.CharOverride-11 {
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-12 {
	font-size:58%;
	vertical-align:super;
}
span.CharOverride-13 {
	color:#e3007c;
	font-size:10px;
}
span.CharOverride-14 {
	color:#e3007c;
	font-size:6px;
	vertical-align:super;
}
span.CharOverride-15 {
	color:#e3007c;
	font-family:Symbol, sans-serif;
	font-size:10px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-16 {
	color:#e3007c;
	font-family:Calibri, sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-17 {
	font-size:10px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-18 {
	font-family:"Times New Roman", serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-19 {
	font-family:Arial, sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-20 {
	color:#000000;
	font-family:Symbol, sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-21 {
	font-family:"Times New Roman", serif;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-22 {
	font-size:12px;
}
span.CharOverride-23 {
	font-family:"Symbol Tiger Expert", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-24 {
	color:#000000;
	font-size:10px;
	font-style:normal;
	font-weight:normal;
}
p._idGenParaOverride-1 {
	page-break-after:always;
}
col._idGenTableRowColumn-1 {
	width:62px;
}
col._idGenTableRowColumn-2 {
	width:82px;
}
tr._idGenTableRowColumn-3 {
	min-height:19px;
}
tr._idGenTableRowColumn-4 {
	min-height:11px;
}
#_idContainer001, #_idContainer002, #_idContainer004, #_idContainer005, #_idContainer008, #_idContainer009, #_idContainer012, #_idContainer013, #_idContainer022, #_idContainer023, #_idContainer025, #_idContainer026, #_idContainer034, #_idContainer035, #_idContainer054, #_idContainer055 {
	display:inline-block;
	height:569px;
	width:424px;
}
#_idContainer036 {
	display:inline-block;
	height:15px;
	position:relative;
	width:15px;
}
#_idContainer037, #_idContainer038, #_idContainer040, #_idContainer041, #_idContainer046, #_idContainer047, #_idContainer048, #_idContainer049, #_idContainer051, #_idContainer052, #_idContainer059, #_idContainer060, #_idContainer063, #_idContainer064, #_idContainer065, #_idContainer066, #_idContainer068, #_idContainer069, #_idContainer077, #_idContainer078, #_idContainer085, #_idContainer086, #_idContainer104, #_idContainer105, #_idContainer106, #_idContainer107 {
	display:inline-block;
	height:571px;
	width:424px;
}
#_idContainer056, #_idContainer057 {
	display:inline-block;
	height:570px;
	width:424px;
}
img._idGenObjectAttribute-1 {
	height:19px;
	width:18px;
}
img._idGenObjectAttribute-2 {
	height:17px;
	width:33px;
}
img._idGenObjectAttribute-3 {
	height:15px;
	width:31px;
}
img._idGenObjectAttribute-4 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-5 {
	height:25px;
	width:53px;
}
img._idGenObjectAttribute-6 {
	height:16px;
	width:21px;
}
img._idGenObjectAttribute-7 {
	height:35px;
	width:116px;
}
img._idGenObjectAttribute-8 {
	height:35px;
	width:86px;
}
img._idGenObjectAttribute-9 {
	height:61px;
	width:143px;
}
img._idGenObjectAttribute-10 {
	height:112px;
	width:53px;
}
img._idGenObjectAttribute-11 {
	height:58px;
	width:66px;
}
img._idGenObjectAttribute-12 {
	height:102px;
	width:75px;
}
img._idGenObjectAttribute-13 {
	height:104px;
	width:516px;
}
img._idGenObjectAttribute-14 {
	height:26px;
	width:59px;
}
img._idGenObjectAttribute-15 {
	height:26px;
	width:68px;
}
img._idGenObjectAttribute-16 {
	height:38px;
	width:220px;
}
img._idGenObjectAttribute-17 {
	height:41px;
	width:254px;
}
img._idGenObjectAttribute-18 {
	height:35px;
	width:318px;
}
img._idGenObjectAttribute-19 {
	height:20px;
	width:32px;
}
img._idGenObjectAttribute-20 {
	height:59px;
	width:48px;
}
img._idGenObjectAttribute-21 {
	height:59px;
	width:34px;
}
img._idGenObjectAttribute-22 {
	height:15px;
	width:81px;
}
img._idGenObjectAttribute-23 {
	height:16px;
	width:91px;
}
img._idGenObjectAttribute-24 {
	height:16px;
	width:96px;
}
img._idGenObjectAttribute-25 {
	height:16px;
	width:120px;
}
div._idGenObjectAttribute-26 {
	height:12px;
	width:7px;
}
img._idGenObjectAttribute-27 {
	height:16px;
	width:86px;
}
img._idGenObjectAttribute-28 {
	height:16px;
	width:101px;
}
img._idGenObjectAttribute-29 {
	height:15px;
	width:60px;
}
img._idGenObjectAttribute-30 {
	height:18px;
	width:113px;
}
img._idGenObjectAttribute-31 {
	height:16px;
	width:136px;
}
img._idGenObjectAttribute-32 {
	height:18px;
	width:135px;
}
img._idGenObjectAttribute-33 {
	height:18px;
	width:126px;
}
img._idGenObjectAttribute-34 {
	height:16px;
	width:80px;
}
img._idGenObjectAttribute-35 {
	height:16px;
	width:302px;
}
img._idGenObjectAttribute-36 {
	height:16px;
	width:267px;
}
img._idGenObjectAttribute-37 {
	height:16px;
	width:298px;
}
img._idGenObjectAttribute-38 {
	height:18px;
	width:297px;
}
img._idGenObjectAttribute-39 {
	height:22px;
	width:160px;
}
img._idGenObjectAttribute-40 {
	height:22px;
	width:172px;
}
img._idGenObjectAttribute-41 {
	height:22px;
	width:146px;
}
img._idGenObjectAttribute-42 {
	height:19px;
	width:155px;
}
img._idGenObjectAttribute-43 {
	height:32px;
	width:217px;
}
img._idGenObjectAttribute-44 {
	height:22px;
	width:234px;
}
img._idGenObjectAttribute-45 {
	height:29px;
	width:70px;
}
img._idGenObjectAttribute-46 {
	height:29px;
	width:92px;
}
img._idGenObjectAttribute-47 {
	height:29px;
	width:66px;
}
img._idGenObjectAttribute-48 {
	height:29px;
	width:105px;
}
img._idGenObjectAttribute-49 {
	height:29px;
	width:104px;
}
img._idGenObjectAttribute-50 {
	height:29px;
	width:84px;
}
img._idGenObjectAttribute-51 {
	height:29px;
	width:90px;
}
img._idGenObjectAttribute-52 {
	height:29px;
	width:86px;
}
img._idGenObjectAttribute-53 {
	height:32px;
	width:108px;
}
img._idGenObjectAttribute-54 {
	height:29px;
	width:118px;
}
img._idGenObjectAttribute-55 {
	height:58px;
	width:102px;
}
img._idGenObjectAttribute-56 {
	height:28px;
	width:100px;
}
img._idGenObjectAttribute-57 {
	height:54px;
	width:107px;
}
img._idGenObjectAttribute-58 {
	height:29px;
	width:123px;
}
img._idGenObjectAttribute-59 {
	height:29px;
	width:125px;
}
img._idGenObjectAttribute-60 {
	height:30px;
	width:69px;
}
img._idGenObjectAttribute-61 {
	height:30px;
	width:116px;
}
img._idGenObjectAttribute-62 {
	height:31px;
	width:110px;
}
img._idGenObjectAttribute-63 {
	height:30px;
	width:128px;
}
img._idGenObjectAttribute-64 {
	height:31px;
	width:122px;
}
img._idGenObjectAttribute-65 {
	height:30px;
	width:122px;
}
img._idGenObjectAttribute-66 {
	height:29px;
	width:141px;
}
img._idGenObjectAttribute-67 {
	height:33px;
	width:198px;
}
img._idGenObjectAttribute-68 {
	height:33px;
	width:182px;
}
img._idGenObjectAttribute-69 {
	height:29px;
	width:190px;
}
img._idGenObjectAttribute-70 {
	height:29px;
	width:180px;
}
img._idGenObjectAttribute-71 {
	height:33px;
	width:287px;
}
img._idGenObjectAttribute-72 {
	height:29px;
	width:214px;
}
img._idGenObjectAttribute-73 {
	height:35px;
	width:198px;
}
img._idGenObjectAttribute-74 {
	height:34px;
	width:254px;
}
img._idGenObjectAttribute-75 {
	height:22px;
	width:221px;
}
img._idGenObjectAttribute-76 {
	height:32px;
	width:140px;
}
img._idGenObjectAttribute-77 {
	height:35px;
	width:440px;
}
img._idGenObjectAttribute-78 {
	height:25px;
	width:137px;
}
img._idGenObjectAttribute-79 {
	height:25px;
	width:130px;
}
img._idGenObjectAttribute-80 {
	height:25px;
	width:136px;
}
img._idGenObjectAttribute-81 {
	height:25px;
	width:68px;
}
img._idGenObjectAttribute-82 {
	height:25px;
	width:67px;
}
img._idGenObjectAttribute-83 {
	height:25px;
	width:65px;
}
img._idGenObjectAttribute-84 {
	height:25px;
	width:49px;
}
img._idGenObjectAttribute-85 {
	height:25px;
	width:76px;
}
img._idGenObjectAttribute-86 {
	height:25px;
	width:32px;
}
img._idGenObjectAttribute-87 {
	height:18px;
	width:53px;
}
img._idGenObjectAttribute-88 {
	height:25px;
	width:34px;
}
img._idGenObjectAttribute-89 {
	height:50px;
	width:98px;
}
img._idGenObjectAttribute-90 {
	height:133px;
	width:124px;
}
img._idGenObjectAttribute-91 {
	height:19px;
	width:122px;
}
img._idGenObjectAttribute-92 {
	height:59px;
	width:121px;
}
img._idGenObjectAttribute-93 {
	height:16px;
	width:126px;
}
img._idGenObjectAttribute-94 {
	height:39px;
	width:136px;
}
img._idGenObjectAttribute-95 {
	height:32px;
	width:126px;
}
img._idGenObjectAttribute-96 {
	height:58px;
	width:91px;
}
img._idGenObjectAttribute-97 {
	height:14px;
	width:139px;
}
img._idGenObjectAttribute-98 {
	height:16px;
	width:130px;
}
img._idGenObjectAttribute-99 {
	height:22px;
	width:313px;
}
img._idGenObjectAttribute-100 {
	height:14px;
	width:202px;
}
img._idGenObjectAttribute-101 {
	height:58px;
	width:141px;
}
img._idGenObjectAttribute-102 {
	height:25px;
	width:31px;
}
img._idGenObjectAttribute-103 {
	height:25px;
	width:43px;
}
img._idGenObjectAttribute-104 {
	height:44px;
	width:106px;
}
img._idGenObjectAttribute-105 {
	height:79px;
	width:91px;
}
img._idGenObjectAttribute-106 {
	height:87px;
	width:115px;
}
img._idGenObjectAttribute-107 {
	height:19px;
	width:244px;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
div._idGenObjectStyleOverride-2 {
	border-color:#e3007c;
	border-style:solid;
	border-width:1px;
}
div._idGenObjectStyleOverride-3 {
	background-color:#ffffff;
	border-width:0px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
